form {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
}

.label-wrapper,
span {
  margin: 0.5em 0;
}

span {
  display: block;
}

span.error {
  color: #c00;
}

input, select {
  color: #777;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 0.35em;
}

input:focus,
select:focus {
  border-color: red;
  outline: none;
}

.addresses,
.dates,
.optional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.address,
.date,
.option {
  display: inline-block;
  margin: 0 10px;
  width: 100%;
}

.addresses input {
  width: 300px;
}

.dates label input:first-of-type {
  margin-right: 10px;
}

.submit {
  margin: 10px;
  padding: 0.5em 0.7em;
  background: #900;
  color: #fff;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.25s;
}

.submit:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.submit:active {
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  form {
    text-align: left;
  }

  .address,
  .date {
    width: 364px;
  }

  .option {
    width: auto;
  }

  .addresses input {
    width: 100%;
  }
}
