<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="addresses">
    <label>
      <span>Адрес аренды</span>
      <input placeholder='Например, "New York"' formControlName="pickUpAddress" />
      <span *ngIf="pickUpAddress.dirty && pickUpAddress.errors && pickUpAddress.errors.required" class="error">Это поле обязательное</span>
      <span *ngIf="pickUpAddress.dirty && pickUpAddress.errors && pickUpAddress.errors.minlength" class="error">Адрес должен быть не меньше {{ minAddressLength }} символов</span>
    </label>
    <label>
      <span>Адрес возврата</span>
      <input placeholder='Такой же, как адрес аренды' formControlName="dropOffAddress" />
      <span *ngIf="dropOffAddress.dirty && dropOffAddress.invalid" class="error">Адрес должен быть не меньше {{ minAddressLength }} символов</span>
    </label>
  </div>
  <div class="dates">
    <label>
      <span>Дата аренды</span>
      <input type="date" value="{{ '2018-06-14' }}"/>
      <input type="time" />
    </label>
    <label>
      <span>Дата возврата</span>
      <input type="date" />
      <input type="time" />
    </label>
  </div>
  <input class="submit" type="submit" value="Искать" />
</form>
