<form>
  <div class="addresses">
    <label>
      <span>Picking up</span>
      <input placeholder='Try "New York"' required />
    </label>
    <label>
      <span>Dropping off</span>
      <input placeholder='Same as pick-up' required />
    </label>
  </div>
  <div class="dates">
    <label>
      <span>Pick-up date</span>
      <input type="date" />
      <input type="time" />
    </label>
    <label>
      <span>Drop-off date</span>
      <input type="date" />
      <input type="time" />
    </label>
</div>
</form>
