form {
  display: inline-block;
  padding: 10px 0;
  text-align: center;
}

.label-wrapper,
span {
  margin: 0.5em 0;
}

span {
  display: block;
}

span.error {
  color: #c00;
}

input, select {
  color: #777;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-radius: 5px;
  padding: 0.35em;
}

input:focus,
select:focus {
  border-color: red;
  outline: none;
}

.address,
.date,
.option {
  display: inline-block;
  width: 100%;
}

.addresses input {
  width: 300px;
}

.dates label input:first-of-type {
  margin-right: 10px;
}

.options-toggle {
  margin: 1.5em 10px 0;
}

.options-toggle a {
  color: inherit;
  text-decoration: none;
}

.options {
  margin-top: 1em;
}

.address input {
  background-image: url(../../assets//gps.png);
}

.date input {
  background-image: url(../../assets//calendar.png);
}

.address input,
.date input {
  background-repeat: no-repeat;
  background-position: 4px center;
  background-size: 16px 16px;
  padding-left: 24px;
}

.options-toggle a::after {
  content: "\1F853";
  padding-left: 0.25em;
}

.options-toggle.toggled a::after {
  content: "\1F851";
  padding-left: 0.25em;
}

.submit {
  margin: 10px;
  padding: 0.5em 0.7em;
  background: #900;
  color: #fff;
  border: none;
  box-shadow: none;
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
}

.submit:hover {
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.submit:active {
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.75);
}

@media screen and (min-width: 768px) {
  form {
    text-align: left;
  }

  .address,
  .date {
    width: 364px;
    margin: 0 10px;
  }

  .option {
    width: auto;
    margin: 0 10px;
  }

  .addresses input {
    width: 100%;
  }
}
